<!DOCTYPE HTML>
<html>
<head>
<title>SL-CHILDREN: Intelligence for special needs: Visual Learning, Activity Management, Behaviour Control and Social Interaction Development</title>
<!-- Bootstrap -->
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' />
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
<!-- start plugins -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!--font-Awesome-->
   	<link rel="stylesheet" href="{{ url_for('static', filename='fonts/css/font-awesome.min.css') }}">
<!--font-Awesome-->
</head>
<body>
<div class="header_bg1">
<div class="container">
	<div class="row header">
		<div class="logo navbar-left">
			<h1><a href="index.html">SL-CHILDREN: Intelligence for special </a></h1>
            
		</div>
		<div class="h_search navbar-right">
			<form>
				<input type="text" class="text" value="Enter text here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter text here';}">
				<input type="submit" value="search">
			</form>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="row h_menu">
		<nav class="navbar navbar-default navbar-left" role="navigation">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href="{{ url_for('index') }}">Home</a></li>
		        <li class="active"><a href="{{ url_for('learningmenu') }}">Learning</a></li>
		        <li><a href="{{ url_for('social') }}">Social Interaction</a></li>
		        <li><a href="{{ url_for('displaystoryvideos') }}">View Stories</a></li>
		        <li><a href="{{ url_for('displaypuzzles') }}">Puzzle</a></li>
				  <li ><a href="{{ url_for('contact') }}">Contact</a></li>
		      </ul>
				<ul class="nav navbar-nav navbar-right">
				  {% if session.login == "false" %}
				  <li><a href="{{ url_for('login') }}">Login | Register   </a></li>
				  {%else%}
					{% if session.type == "teacher" %}
					<li><a href="{{ url_for('displaylevel') }}">Student List</a></li>
					{%endif%}
				  <li><a href="{{ url_for('logout') }}"> Logout</a></li>
				  {%endif%}
		      </ul>
		    </div><!-- /.navbar-collapse -->
		    <!-- start soc_icons -->
		</nav>

	</div>
	<div class="clearfix"></div>
</div>
</div>
<div class="main_btm"><!-- start main_btm -->
	<div class="container">
            <form name="form1" action="/storyfrom">
              <table align="left">
				 {% for i in range(l-20,l,4) %}
                 <tr valign="baseline">

					  <td> <img src="{{list[i]}}" width="275" height="275" style="padding: 15px 15px 15px 15px;"></td>
					  <td> <img src="{{list[i+1]}}" width="275" height="275" style="padding: 15px 15px 15px 15px;"></td>
					 <td> <img src="{{list[i+2]}}" width="275" height="275" style="padding: 15px 15px 15px 15px;"></td>
					  <td> <img src="{{list[i+3]}}" width="275" height="275" style="padding: 15px 15px 15px 15px;"></td>


				 </tr>
				 {% endfor %}
                <tr valign="baseline">
                       <td align="center"><input class="fa-btn btn-1 btn-2e"  type="submit" value="Go Back"></td>
                </tr>
              </table>
            </form>
	</div>

<div class="footer_bg"><!-- start footer -->
	<div class="container">
		<div class="row  footer">
			<div class="copy text-center">
				<p class="link"><span>&#169; All rights reserved SL-Children.org</span></p>
			</div>
		</div>
	</div>
</div>
</body>
</html>